{% load static %}
<link rel="stylesheet" href="{% static 'gallery/css/footer.css' %}">
{% block content %}
    <footer class="text-center bg-secondary text-white mt-3 shadow rounded-3">
        <div class="d-flex justify-content-around py-3">
            <section class="mb-4">
                <p>ZIUGOD</p>
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1"
                   href="https://www.twitter.com/ZIUGOD"
                   target="_blank"
                   role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1"
                   href="#!"
                   target="_blank"
                   role="button"><i class="bi bi-instagram"></i></a>
                <!-- GitHub -->
                <a class="btn btn-primary btn-floating m-1"
                   href="#!"
                   target="_blank"
                   role="button"><i class="bi bi-github"></i></a>
            </section>
            <section class="mb-4">
                <p>Karolayne</p>
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1"
                   href="#!"
                   target="_blank"
                   role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1"
                   href="#!"
                   target="_blank"
                   role="button"><i class="bi bi-instagram"></i></a>
                <!-- GitHub -->
                <a class="btn btn-primary btn-floating m-1"
                   href="#!"
                   target="_blank"
                   role="button"><i class="bi bi-github"></i></a>
            </section>
        </div>
    </footer>
{% endblock content %}
