{% load static %}
{% block content %}
    <header class="navbar navbar-expand-md navbar-light d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom text-success bg-secondary">
        <a id="nyra-home-page"
           href="{% url 'home_page' %}"
           class="navbar-brand d-flex align-items-center mb-1 mb-md-0 me-md-auto">
            <img src="{% static 'images/lovelens.png' %}"
                 alt="lovelens"
                 width="96"
                 height="96"
                 class="shadow rounded-circle">
        </a>
        {% if user.is_authenticated %}
            <div class="order-md-last">
                <button class="navbar-toggler border rounded-3 mx-1"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-fill" id="navbarNav">
                    <ul class="navbar-nav text-center flex-fill">
                        {% comment %} form to logout {% endcomment %}
                        <form method="post"
                              class="nav-tem p-2 text-center flex-fill"
                              action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button id="logout-button"
                                    class="nav-link shadow rounded-5 px-3 py-2 border rounded 4"
                                    type="submit">Logout</button>
                        </form>
                        <li class="nav-item p-2 flex-fill">
                            <a href="{% url 'gallery:new_image' %}"
                               class="nav-link shadow rounded-5 px-3 py-2 border rounded 4">Upload new imagem</a>
                        </li>
                        <li class="nav-item p-2 flex-fill">
                            <a href="{% url 'user_profile' user.username %}"
                               class="nav-link shadow rounded-5 px-3 py-2 border rounded 4">{{ user.username }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
{% endblock content %}
