{% extends "components/base.html" %}

{% block title %} - Home{% endblock %}

{% block content %}
<div class="container">
    <h1>LoveLens - Caíque e Karolayne</h1>

    {% if images %}
    <div class="row">
        {% for image in images %}
            <div class="col-md-4 mb-4">
                <div class="thumbnail">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" style="max-width: 100%;">
                    <div class="caption">
                        <h3>{{ image.title }}</h3>
                        <p>Data de envio: {{ image.upload_date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Nenhuma imagem disponível no momento. Por favor, faça o envio de algumas fotos.</p>
    {% endif %}
</div>
{% endblock %}
