{% extends "components/base.html" %}
{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'gallery/css/index.css' %}">
{% block title %}
    - Home
{% endblock title %}
{% block content %}
    <h2 class="mb-4">LoveLens - Caíque e Karolayne</h2>
    <div id="main-gallery" class="row row-cols-1 row-cols-md-3 g-4">
        {% for image_obj in images %}
            <div class="col">
                <div class="card p-2">
                    <div class="card-body">
                        <h3 class="card-title">{{ image_obj.title }}</h3>
                        <p class="card-text">Enviada em: {{ image_obj.upload_date }}</p>
                    </div>
                    <img class="card-img-bottom img-responsive"
                         src="{{ image_obj.image.url }}"
                         alt="{{ image_obj.title }}"
                         width="{{ image_obj.width }}"
                         height="{{ image_obj.height }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
