header {
    box-shadow: 0 0 2em grey;
    padding: 1em;
    border-radius: 1em;
}

#link-home-page {
    font-size: 1.5rem;
}

nav form a {
    border: 0.2em solid #ffffff;
    border-radius: 1em;
    color: purple;
    background-color: pink;
    padding: 0.75em;
    text-decoration: none;
}