{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    - Upload Image
{% endblock title %}
{% block content %}
    <div class="bg-secondary text-white-lg text-ce rounded-4 shadow p-2 border border-1">
        <h2>Enviar Nova Imagem</h2>
        <form method="post" enctype="multipart/form-data">
            {% crispy form %}
            <input type="submit" class="btn btn-primary" value="Enviar">
        </form>
    </div>
    <link rel="stylesheet" href="{% static 'gallery/css/create_image.css' %}">
{% endblock content %}
