{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    - image {{ image.id }} by {{ image.author.username }}
{% endblock title %}
{% block content %}
    <form method="post"
          class="d-flex flex-column align-items-center justify-content-center p-3 border border-2 rounded-4 shadow m-2 text-center bg-dark text-white  border">
        {% csrf_token %}
        <h2 class="h2 m-2 font-weight-normal text-center">{{ image.title|safe }}</h2>
        <hr />
        <div class="p-3">
            <p class="lead">{{ image.text|safe }}</p>
        </div>
        <hr />
        <div class="text-center m-3">
            <span class="text-secondary">Criada em {{ image.created_at }} por <a href="{% url 'user_profile' image.author %}">{{ image.author.username }}</a></span>
        </div>
        {% if image.created_at != image.updated_at %}
            <div class="text-center m-3">
                <span class="text-secondary">Editada em: {{ image.updated_at }}</span>
            </div>
        {% endif %}
    </form>
    <div class="text-center my-3 mb-5">
        {% if user == image.author %}
            <a href="{% url 'delete_image' image.id %}"
               class="m-2 py-2 px-3 shadow border border-2 border-white rounded-5 btn btn-danger">Deletar nota</a>
            <a href="{% url 'update_image' image.id %}"
               class="m-2 py-2 px-3 shadow border border-2 border-white rounded-5 btn btn-warning">Editar nota</a>
        {% endif %}
        <button type="button"
                onclick="window.history.back()"
                class="m-2 py-2 px-3 shadow border border-2 border-white rounded-5 btn btn-secondary">Voltar</button>
    </div>
{% endblock content %}
