{% load static %}
<link rel="stylesheet" href="{% static 'gallery/css/footer.css' %}">
{% block content %}
    <div class="container my-5">
        <footer class="bg-light text-center text-dark">
            <section class="mb-4">
                <p>ZIUGOD</p>
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
                <!-- GitHub -->
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="bi bi-github"></i></a>
            </section>
            <section>
                <p>Karolayne</p>
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i></a>
                <!-- GitHub -->
                <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="bi bi-github"></i></a>
            </section>
        </footer>
    </div>
{% endblock content %}
