{% load static %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'gallery/css/header.css' %}">
{% block content %}
    <header class="container-fluid">
        <nav id="navbar" class="navbar navbar justify-content-between">
            <a id="link-home-page" class="navbar-brand" href="{% url "home_page" %}">LoveLens</a>
            <form class="form-inline">
                <a id="create-new-post" href="{% url 'gallery:create_image' %}">Criar nova postagem</a>
            </form>
        </nav>
    </header>
{% endblock content %}
